import * as S from './styles';

type {{pascalCase name}}Props = {

};

const {{pascalCase name}}:React.FC<{{pascalCase name}}Props> = () => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
);

export default {{pascalCase name}};
